<!doctype html>
<html class="no-js" lang="">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SBSY | All Students</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    &lt;!&ndash; Favicon &ndash;&gt;-->
<!--    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">-->
<!--    &lt;!&ndash; Normalize CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/normalize.css">-->
<!--    &lt;!&ndash; Main CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/main.css">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
<!--    &lt;!&ndash; Fontawesome CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/all.min.css">-->
<!--    &lt;!&ndash; Flaticon CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="fonts/flaticon.css">-->
<!--    &lt;!&ndash; Animate CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/animate.min.css">-->
<!--    &lt;!&ndash; Data Table CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/jquery.dataTables.min.css">-->
<!--    &lt;!&ndash; Custom CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--    &lt;!&ndash; Modernize js &ndash;&gt;-->
<!--    <script src="js/modernizr-3.6.0.min.js"></script>-->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'SchoolDesign/img/favicon.png' %}">
     <link rel="stylesheet" href="{% static 'SchoolDesign/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'SchoolDesign/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/fonts/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/fullcalendar.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/select2.min.css' %}">

         <link rel="stylesheet" href="{% static 'SchoolDesign/css/jquery.dataTables.min.css' %}">

   <link rel="stylesheet" href="{% static 'SchoolDesign/style.css' %}">

    <script src="{% static 'SchoolDesign/js/modernizr-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">







</head>
<body>
     <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">

                        <a href="/" style="color:white;font-size: 25px;"><img src="{% static 'SchoolDesign/img/logo111.png' %}" alt="logo" style="">SBSY</a>
<!--                                                <img src="{% static 'SchoolDesign/img/logo11.jpg' %}" alt="logo">-->


                </div>
                 <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
               <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Find Something . . .">



                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title">{{ request.user.first_name }}</h5>
                                <span>{{request.user.groups.all.0.name}}</span>
                            </div>
                            <div class="admin-img">
<!--                                <img src="img/figure/admin.jpg" alt="Admin">-->
<!--                                                        <img src="{% static 'SchoolDesign/img/figure/admin.jpg' %}" alt="logo">-->
                                <i class="flaticon-user"></i>

                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">{{ request.user.first_name }}</h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="/owner_details_update/"><i class="flaticon-user"></i>My Profile</a></li>
                                    <!--<li><a href="#"><i class="flaticon-list"></i>Task</a></li>-->
                                    <!--<li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>-->
                                    <li><a href="/change_password"><i class="flaticon-gear-loading"></i>Change Password</a></li>


                                    <li><a href="/logout"   onclick="return confirm('Are you sure want to logout?')"><i class="flaticon-turn-off"></i>Log Out</a></li>



                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--<li class="navbar-item dropdown header-message">-->
                    <!--    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                    <!--        aria-expanded="false">-->
                    <!--        <i class="far fa-envelope"></i>-->
                    <!--        <div class="item-title d-md-none text-16 mg-l-10">Message</div>-->
                    <!--        <span></span>-->
                    <!--    </a>-->

                    <!--</li>-->
                    <!--<li class="navbar-item dropdown header-notification">-->
                    <!--    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                    <!--        aria-expanded="false">-->
                    <!--        <i class="far fa-bell"></i>-->
                    <!--        <div class="item-title d-md-none text-16 mg-l-10">Notification</div>-->
                    <!--        <span></span>-->
                    <!--    </a>-->

                    <!--    <div class="dropdown-menu dropdown-menu-right">-->

                    <!--    </div>-->
                    <!--</li>-->
<!--                     <li class="navbar-item dropdown header-language">-->
<!--                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button"-->
<!--                        data-toggle="dropdown" aria-expanded="false"><i class="fas fa-globe-americas"></i>EN</a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">English</a>-->
<!--                            <a class="dropdown-item" href="#">Spanish</a>-->
<!--                            <a class="dropdown-item" href="#">Franchis</a>-->
<!--                            <a class="dropdown-item" href="#">Chiness</a>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="/" style="color:white;font-size: 30px;"><img src="{% static 'SchoolDesign/img/logo111.png' %}" alt="logo">SBSY</a>

                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
{% if request.user.groups.all.0.name == 'admin' %}
                         <li class="nav-item">
                            <a href="/" class="nav-link"><i
                                    class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allstudent" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Students</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/student_details" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Student Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admit_form" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Admission Form</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Staff</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allstaff" class="nav-link"><i class="fas fa-angle-right"></i>All Staff
                                        </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/staff_details" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Staff Details</a>
                                </li>
                                <li class="nav-item">
                                     <a href="/add_staff" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>
                                <li class="nav-item">
                                     <a href="/add_other_staff" class="nav-link"><i class="fas fa-angle-right"></i>Add Staff
                                        </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allclass_form" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/addclass_form" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Class</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-checklist"></i><span>Attendance</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/attendence" class="nav-link"><i
                                    class="fas fa-angle-right"></i><span>Student Attendence</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/manual_attendence" class="nav-link"><i class="fas fa-angle-right"></i>Manual
                                        Attendance</a>
                                </li>
                                 <li class="nav-item">
                                    <a href="/staff_attendence" class="nav-link"><i class="fas fa-angle-right"></i>Staff
                                        Attendance</a>
                                </li>
                            </ul>
                        </li>

                            <li class="nav-item">
                            <a href="/add_holiday" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>



                          <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Library</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Book</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/library" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Book</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                               <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-chat"></i><span>Message</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/msg" class="nav-link"><i class="fas fa-angle-right"></i>Personal message</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/absent_Student" class="nav-link"><i class="fas fa-angle-right"></i>Absent message</a>
                                </li>

                            </ul>
                        </li>




                        {% endif %}

<!--                        parents-->

                          {% if request.user.groups.all.0.name == 'parents' %}
                        <li class="nav-item">
                                    <a href="/parents" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                        <li class="nav-item">
                                    <a href="/kids_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Attendence</span></a>
                                </li>
                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}




<!--                        student-->
                                     {% if request.user.groups.all.0.name == 'student' %}
                        <li class="nav-item">
                                    <a href="/student" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>
                                 <li class="nav-item">
                                    <a href="/my_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Attendence</span></a>
                                </li>

                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}

<!--                        staff-->
                                     {% if request.user.groups.all.0.name == 'staff' %}
                        <li class="nav-item">
                                    <a href="/staff" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                            <li class="nav-item">
                                    <a href="/attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Class Attendence</span></a>
                                </li>

                         <li class="nav-item">
                                    <a href="/my_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>My Attendence</span></a>
                                </li>




                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}


                    </ul>
                </div>
            </div>

            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Staff</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>All Staff</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">

                       <form class="new-added-form" method="POST">{% csrf_token %}

                             <div class="row gutters-8">
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <select class="select2" id="ddlmedium" name="medium" value="{{medium_name}}"  data-url="{% url 'ajax_load_class' %}" >
                                        <option value="">Please Select Medium *</option>
                                           {% for i in mediums %}
                                     <option value="{{i.medium_name}}">{{i.medium_name}}</option>
                                       {% endfor %}
                                    </select>
                                </div>




<!--                                   <div class="col-xl-3 col-lg-6 col-12 form-group">-->
<!--                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>-->
<!--                                </div>-->


                               <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                                    
                                     <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" onclick="javascript:history.back()">Back</button>


                                </div>



                            </div>
                        </form>




                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">No.</label>
                                            </div>
                                        </th>
                                         <th>Action</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                       
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>E-mail / Username</th>
                                        
                                         <th>Subject</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Address</th>
                                         <th>City</th>
                                        <th>Pincode</th>





                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in data %}
                                    <tr>
                                        
                                        
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">

                                                <label class="form-check-label">{{i.index}}</label>
                                            </div>
                                        </td>
                                    
                                    <td>
                                            
                                    <style>
                                        .nowrap {
                                      white-space: nowrap ;
                                    }
                                    </style>
                                        
                                      <a  class="fas fa-cogs text-dark-pastel-green" href="/add_staff_detail/{{i.staff_user_id}}"><i class="nowrap"></i></a>
                                        <a class="fas fa-edit text-dark-pastel-green" href="/Edit_staff/{{i.staff_user_id}}"><i class="nowrap"></i></a>
                                        <a class="fa fa-trash-o" href="/staff_delete/{{i.staff_user_id}}"  onclick="return confirm('Are you sure want to delete?')"> <i class="nowrap" ></i></a>
                                            
                                                                            </td>
                                                                            
                                  
                                        <td>
                                        <div class="media media-none--xs">
                                        <div class="item-img">
                                            <img src="/media/{{i.staff_image}}" alt="my pic"  style="width:100px;height:100px; border-radius: 50%;">
                                        </div>

                                    </div></td>
                                                                            
                                                                            
                                        <td>{{i.staff_First_name}}</td>
                                         
                                        <td>{{i.staff_gender}}</td>

                                        <td>{{i.staff_mobile}}</td>
                                        <td>{{i.staff_email}}</td>
                                        
                                            <td>{{i.staff_subject}} </td>
                                         <td>{{i.staff_class_name}}</td>
                                          <td>{{i.staff_division_name }}</td>
                                          <td>{{i.staff_Address}}</td>
                                         <td>{{i.staff_city}}</td>
                                        <td>{{i.staff_pincode}}</td>






                                       <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/add_staff_detail/{{i.staff_user_id}}"><i
                                                            class="fas fa-cogs text-dark-pastel-green"></i>All Details</a>
                                                    <a class="dropdown-item" href="/Edit_staff/{{i.staff_user_id}}"><i
                                                            class="fas fa-edit text-dark-pastel-green"></i>Edit Staff</a>

                                                    <a class="dropdown-item" href="/staff_delete/{{i.staff_user_id}}"  onclick="return confirm('Are you sure want to delete?')">

                                                           <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>Delete</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                <footer class="footer-wrap-layout1">
    <div class="copyright">
       Copyrights  ©  <a href="#">SBSY</a> 2020. All rights reserved.
    </div>
</footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
<!--    <script src="js/jquery-3.3.1.min.js"></script>-->
<!--    &lt;!&ndash; Plugins js &ndash;&gt;-->
<!--    <script src="js/plugins.js"></script>-->
<!--    &lt;!&ndash; Popper js &ndash;&gt;-->
<!--    <script src="js/popper.min.js"></script>-->
<!--    &lt;!&ndash; Bootstrap js &ndash;&gt;-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash; Scroll Up Js &ndash;&gt;-->
<!--    <script src="js/jquery.scrollUp.min.js"></script>-->
<!--    &lt;!&ndash; Data Table Js &ndash;&gt;-->
<!--    <script src="js/jquery.dataTables.min.js"></script>-->
<!--    &lt;!&ndash; Custom Js &ndash;&gt;-->
<!--    <script src="js/main.js"></script>-->




        <script src="{% static 'SchoolDesign/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/plugins.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/popper.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/moment.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/fullcalendar.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/Chart.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/main.js' %}"></script>
       <script src="{% static 'SchoolDesign/js/select2.min.js' %}"></script>
       
       
       <script>
    $("#ddlmedium").change(function () {
      var url = $("#ddlmedium").attr("data-url");  // get the url of the `load_courses` view
      var X = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'medium_name': X      // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#ddlclass").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>





      <script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
      </script>




</body>

</html>