
{% for i in data %}
/media/{{i.staff_image}}
{{i.staff_user}}
{{i.staff_user_name}}
{{i.staff_First_name }}
{{i.staff_Last_name}}
{{i.staff_gender}}
{{i.staff_date_of_birth}}
{{i.staff_email}}
{{i.staff_mobile}}
{{i.staff_qualification}}
{{i.staff_blood_group}}
{{i.staff_image}}
{{i.staff_Address}}
{{i.staff_city}}
{{i.staff_pincode}}
{{i.staff_Religion}}
{{i.staff_subject}}
{{i.staff_medium_name }}
{{i.staff_class_name }}
{{i.staff_division_name }}
{{i.staff_card_number }}
{{i.staff_school_code }}


{% endfor %}