<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SBSY | Admission Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="css/select2.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="css/datepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
         <link rel="stylesheet" href="{% static 'SchoolDesign/css/jquery.dataTables.min.css' %}">

    <!-- Modernize js -->
    <script src="js/modernizr-3.6.0.min.js"></script> {% endcomment %}


    <link rel="shortcut icon" type="image/x-icon" href="{% static 'SchoolDesign/img/favicon.png' %}">
     <link rel="stylesheet" href="{% static 'SchoolDesign/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'SchoolDesign/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'SchoolDesign/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/fonts/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/css/datepicker.min.css' %}">
            <link rel="stylesheet" href="{% static 'SchoolDesign/css/select2.min.css' %}">
      <link rel="stylesheet" href="{% static 'SchoolDesign/style.css' %}">

    <script src="{% static 'SchoolDesign/js/modernizr-3.6.0.min.js' %}"></script>





</head>

<body>
        <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">

                        <a href="/" style="color:white;font-size: 25px;"><img src="{% static 'SchoolDesign/img/logo111.png' %}" alt="logo" style="">SBSY</a>
<!--                                                <img src="{% static 'SchoolDesign/img/logo11.jpg' %}" alt="logo">-->


                </div>
                 <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
               <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Find Something . . .">



                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title">{{ request.user.first_name }}</h5>
                                <span>{{request.user.groups.all.0.name}}</span>
                            </div>
                            <div class="admin-img">
<!--                                <img src="img/figure/admin.jpg" alt="Admin">-->
<!--                                                        <img src="{% static 'SchoolDesign/img/figure/admin.jpg' %}" alt="logo">-->
                                <i class="flaticon-user"></i>

                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">{{ request.user.first_name }}</h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="/owner_details_update/"><i class="flaticon-user"></i>My Profile</a></li>
                                    <!--<li><a href="#"><i class="flaticon-list"></i>Task</a></li>-->
                                    <!--<li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>-->
                                    <li><a href="/change_password"><i class="flaticon-gear-loading"></i>Change Password</a></li>


                                    <li><a href="/logout"   onclick="return confirm('Are you sure want to logout?')"><i class="flaticon-turn-off"></i>Log Out</a></li>



                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--<li class="navbar-item dropdown header-message">-->
                    <!--    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                    <!--        aria-expanded="false">-->
                    <!--        <i class="far fa-envelope"></i>-->
                    <!--        <div class="item-title d-md-none text-16 mg-l-10">Message</div>-->
                    <!--        <span></span>-->
                    <!--    </a>-->

                    <!--</li>-->
                    <!--<li class="navbar-item dropdown header-notification">-->
                    <!--    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                    <!--        aria-expanded="false">-->
                    <!--        <i class="far fa-bell"></i>-->
                    <!--        <div class="item-title d-md-none text-16 mg-l-10">Notification</div>-->
                    <!--        <span></span>-->
                    <!--    </a>-->

                    <!--    <div class="dropdown-menu dropdown-menu-right">-->

                    <!--    </div>-->
                    <!--</li>-->
<!--                     <li class="navbar-item dropdown header-language">-->
<!--                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button"-->
<!--                        data-toggle="dropdown" aria-expanded="false"><i class="fas fa-globe-americas"></i>EN</a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">English</a>-->
<!--                            <a class="dropdown-item" href="#">Spanish</a>-->
<!--                            <a class="dropdown-item" href="#">Franchis</a>-->
<!--                            <a class="dropdown-item" href="#">Chiness</a>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="/" style="color:white;font-size: 30px;"><img src="{% static 'SchoolDesign/img/logo111.png' %}" alt="logo">SBSY</a>

                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
{% if request.user.groups.all.0.name == 'admin' %}
  <li class="nav-item">
                            <a href="/" class="nav-link"><i
                                    class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allstudent" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Students</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/student_details" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Student Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admit_form" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Admission Form</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Staff</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allstaff" class="nav-link"><i class="fas fa-angle-right"></i>All Staff
                                        </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/staff_details" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Staff Details</a>
                                </li>
                                <li class="nav-item">
                                     <a href="/add_staff" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>
                                <li class="nav-item">
                                     <a href="/add_other_staff" class="nav-link"><i class="fas fa-angle-right"></i>Add Staff
                                        </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/allclass_form" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/addclass_form" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Class</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-checklist"></i><span>Attendance</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/attendence" class="nav-link"><i
                                    class="fas fa-angle-right"></i><span>Student Attendence</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/manual_attendence" class="nav-link"><i class="fas fa-angle-right"></i>Manual
                                        Attendance</a>
                                </li>
                                 <li class="nav-item">
                                    <a href="/staff_attendence" class="nav-link"><i class="fas fa-angle-right"></i>Staff
                                        Attendance</a>
                                </li>
                            </ul>
                        </li>

                            <li class="nav-item">
                            <a href="/add_holiday" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>



                          <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Library</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Book</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/library" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Book</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                               <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-chat"></i><span>Message</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/msg" class="nav-link"><i class="fas fa-angle-right"></i>Personal message</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/absent_Student" class="nav-link"><i class="fas fa-angle-right"></i>Absent message</a>
                                </li>

                            </ul>
                        </li>




                        {% endif %}

<!--                        parents-->

                          {% if request.user.groups.all.0.name == 'parents' %}
                        <li class="nav-item">
                                    <a href="/parents" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                        <li class="nav-item">
                                    <a href="/kids_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Attendence</span></a>
                                </li>
                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}




<!--                        student-->
                                     {% if request.user.groups.all.0.name == 'student' %}
                        <li class="nav-item">
                                    <a href="/student" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>
                                 <li class="nav-item">
                                    <a href="/my_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Attendence</span></a>
                                </li>

                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}

<!--                        staff-->
                                     {% if request.user.groups.all.0.name == 'staff' %}
                        <li class="nav-item">
                                    <a href="/staff" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                                </li>
                         <li class="nav-item">
                            <a href="/notice_board" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>

                            <li class="nav-item">
                                    <a href="/attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>Class Attendence</span></a>
                                </li>

                         <li class="nav-item">
                                    <a href="/my_attendence" class="nav-link"><i
                                    class="flaticon-shopping-list"></i><span>My Attendence</span></a>
                                </li>




                            <li class="nav-item">
                            <a href="/view_holidays" class="nav-link"><i
                                    class="flaticon-calendar"></i><span>Holiday</span></a>
                        </li>
                        <li class="nav-item">
                                    <a href="/all_book" class="nav-link"><i class="flaticon-books"></i><span>Library
                                        </span></a>
                                </li>
                        <li class="nav-item">
                            <a href="/transport" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>

                                   {% endif %}


                    </ul>
                </div>
            </div>

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">

                    <h3>Students</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Edit Student Form</li>
                    </ul>
                </div>
                 <style>.success{
                    list-style:None;
                    background-color:#008000;
                    color:white;
                    box-shadow: 12px 12px 12px #e61c66;
                    text-align: center;}
                    </style>
                    <style>.info{
                    list-style:None;
                    background-color:#FF0000;
                    color:white;
                    box-shadow: 12px 12px 12px #e61c66;
                    text-align: center;}
                    </style>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}


                    <li {% if message.tags %} class="{{message.tags}}"  {% endif %}>{{message}}</li>
                    {% endfor %}


                </ul>

                {% endif %}
                <!-- Breadcubs Area End Here -->
                <!-- Admit Form Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Applicant information :</h3>
                            </div>
                         
                            
                            <div class="dropdown">
                                <div class="header-elements">
                                        <ul>
                                            <!--{{std_next}}-->
                                        <!--<li><a href="/add_staff"><i class="fas fa-user">Add Next </i></a></li>-->
                                        <!--<li> <a class="dropdown-item" href="/Edit_student/{{i.staff_user_id}}"><i-->
                                        <!--                    class="fas fa-edit text-dark-pastel-green"></i>Edit Next</a></li>-->
                                         <li> <a class="dropdown-item" href="/allstudent"><i
                                                            class="fas fa-edit text-dark-pastel-green"></i>Edit Next</a></li>


                                            <!--<li><a href=""><i class="far fa-edit"></i></a></li>-->
                                         <!--<li><a href="#"><i class="fas fa-print"  onclick="window.print()"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fas fa-print"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fas fa-download" onclick="window.download()"></i></a></li>-->
                                            
                                        </ul>
                                    </div>
                                 
                                <!--<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                                <!--    aria-expanded="false">...</a>-->

                                <!--<div class="dropdown-menu dropdown-menu-right">-->
                                <!--    <a class="dropdown-item" href="#"><i-->
                                <!--            class="fas fa-times text-orange-red"></i>Close</a>-->
                                <!--    <a class="dropdown-item" href="#"><i-->
                                <!--            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>-->
                                <!--    <a class="dropdown-item" href="#"><i-->
                                <!--            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>-->
                                <!--</div>-->
                            </div>
                        </div>


                                                <form class="new-added-form"  enctype="multipart/form-data" method="POST">

                                                {% csrf_token %}


                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Full Name of applicant *</label>
                                    <input type="text" placeholder="" class="form-control" id="ddlFirstname" name="Full_name" required value="{{std.Full_name}}">
                                 </div>



                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label >Gender *</label>

                                    <select class="select2" id="ddlgender" name="gender"   required>
                                        <option value="">Please Select Gender *</option>
                                        <option value="Male" {% if std.gender == "Male" %} selected {% endif %}>Male</option>
                                        <option value="Female" {% if std.gender == "Female" %} selected {% endif %}>Female</option>
                                        <option value="Others" {% if std.gender == "Others" %} selected {% endif %}>Others</option>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date Of Birth *</label>
                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                       id="ddldob" name="dob" value="{{std.date_of_birth}}" required>
                                    <i class="far fa-calendar-alt"></i>
                                </div>


                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>E-Mail</label>
                                    <input type="email"  class="form-control" id="email" name="email" value="{{std.email}}">
                                </div>

                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Mobile *</label>
                                    <input type="number" placeholder="" class="form-control" id="mobile" name="mobile" maxlength="10" value="{{std.mobile}}"
                                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Blood Group </label>
                                    <select class="select2" id="ddlbloodgroup" name="blood_group" value="{{blood_group}}">
                                        <option value="">Please Select Group </option>
                                        <option value="A+" {% if  std.blood_group == "A+" %} selected {% endif %}>A+</option>
                                        <option value="A-" {% if  std.blood_group == "A-" %} selected {% endif %}>A-</option>
                                        <option value="B+" {% if  std.blood_group == "B+" %} selected {% endif %}>B+</option>
                                        <option value="B-" {% if  std.blood_group == "B-" %} selected {% endif %}>B-</option>
                                        <option value="O+" {% if  std.blood_group == "O+" %} selected {% endif %}>O+</option>
                                        <option value="O-" {% if  std.blood_group == "O-" %} selected {% endif %}>O-</option>
                                        <option value="AB+" {% if  std.blood_group == "AB+" %} selected {% endif %}>AB+</option>
                                        <option value="AB-" {% if  std.blood_group == "AB-" %} selected {% endif %}>AB-</option>

                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Reservation category *</label>
                                    <select class="select2" id="ddlrelig" name="reservation" value="Reservation" >
                                        <option value="">Please Select Category *</option>
                                        <option value="General" {% if  std.reservation_category == "General" %} selected {% endif %}>General</option>
                                        <option value="OBC" {% if  std.reservation_category == "OBC" %} selected {% endif %}>OBC</option>
                                        <option value="ST" {% if  std.reservation_category == "ST" %} selected {% endif %}>ST</option>
                                        <option value="SC" {% if  std.reservation_category == "SC" %} selected {% endif %}>SC</option>
                                        <option value="EWS" {% if  std.reservation_category == "EWS" %} selected {% endif %}>EWS</option>
                                    </select>
                                </div>

                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Admission No *</label>
                                    <input type="text" placeholder="" class="form-control" id="ddladmission_no" name="addmission_no" value="{{std.admission_no}}" required>
                                </div>


                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>medium *</label>
                                    <select class="select2" id="ddlmedium" name="medium" value="{{medium_name}}" data-url="{% url 'ajax_load_class' %}"  required>
                                        <option value="">Please Select Medium *</option>
                                           {% for i in mediums %}
                                     <option value="{{i.medium_name}}"  {% if  i.medium_name == std.medium_name %} selected {% endif %}>{{i.medium_name}}</option>
                                       {% endfor %}
                                    </select>
                                </div>



                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Class *</label>
                                    <select class="select2" id="ddlclass" name="class" value="5" data-url1="{% url 'ajax_load_division' %}" required>
                                        <option value="">Please Select Class *</option>
                                      {% for i in classes %}
                                     <option value="{{i.class_name}}" {% if  i.class_name == std.class_name %} selected {% endif %}>{{i.class_name}}</option>
                                       {% endfor %}
                                    </select>
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Section *</label>
                                    <select class="select2" id="ddlsection" name="section"  required>
                                        <option value="">Please Select Section *</option>
                                         {% for i in division %}
                                     <option value="{{i.division_name}}" {% if  i.division_name == std.division_name %} selected {% endif %}>{{i.division_name}}</option>
                                       {% endfor %}

                                    </select>
                                </div>




                                <div class=" col-xl-3 col-lg-6 col-12 form-group ">
                                    <label class="text-dark-medium" >Upload Student Photo</label>
                                    <input type="file" class="form-control" id="ddlimage" name='image' accept="image/*"  value="" >
                                     <div class="media media-none--xs">
                                        <div class="item-img">
                                            <img src="/media/{{std.image}}" alt="my pic"  style="width:100px;height:100px; border-radius: 50%;">
                                        </div>

                                    </div>

                                </div>




                                 <div class="heading-layout1" style="width:100%;">
                        <div class="item-title">
                            <h3> &nbsp;&nbsp;Parent Information :</h3>
                        </div>
                    </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Father's Full name *</label>
                                    <input type="text" placeholder="" class="form-control" id="fathername" name="fathername"  value="{{parents.fathername}}" required>
                                 </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Mothers's Full name *</label>
                                    <input type="text" placeholder="" class="form-control" id="mothername" name="mothername"  value="{{parents.mothername}}" required>
                                 </div>

                                         <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Father's Occupation</label>
                                    <input type="text" placeholder="" class="form-control" name="father_occupation" value="{{parents.father_occupation}}" required>
                                </div>

                                         <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Mother's Occupation</label>
                                    <input type="text" placeholder="" class="form-control" name="mother_occupation" value="{{parents.mother_occupation}}" required>
                                </div>


                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Religion *</label>
                                    <select class="select2" id="ddlreligion" name="Religion" value="{{parents.Religion}}" >
                                        <option value="">Please Select Religion *</option>
                                        <option value="Hindu" {% if  parents.Parents_Religion == "Hindu" %} selected {% endif %}>Hindu</option>
                                        <option value="Christian" {% if  parents.Parents_Religion == "Christian" %} selected {% endif %}>Christian</option>
                                        <option value="Islam" {% if  parents.Parents_Religion == "Islam" %} selected {% endif %}>Islam</option>
                                        <option value="Sikhs" {% if  parents.Parents_Religion == "Sikhs" %} selected {% endif %}>Sikhs</option>
                                        <option value="Others" {% if  parents.Parents_Religion == "Others" %} selected {% endif %}>Others</option>
                                    </select>
                                </div>



                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>E-Mail</label>
                                    <input type="email"  class="form-control" id="ddlemail" name="parents_email" value="{{parents.Parents_email}}">
                                </div>

                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Mobile *</label>
                                    <input type="number" placeholder="" class="form-control" id="ddlmobile" name="parents_mobile" maxlength="10" value="{{parents.Parents_mobile}}"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    
                                               required>
                                </div>


                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Address *</label>
                                    <input type="text" placeholder="" class="form-control" id="ddlAddress" name="Address" value="{{parents.Parents_Address}}" required>
                                </div>
                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>city *</label>
                                    <input type="text" placeholder="" class="form-control" id="ddlcity" name="city" value="{{parents.Parents_city}}" required>
                                </div>
                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>pincode *</label>
                                    <input type="number" placeholder="" class="form-control" id="ddlpincode" name="pincode" maxlength="6" value="{{parents.Parents_pincode}}" 
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       
                                      required>
                                </div>




                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Submit</button>
                                    <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" onclick="javascript:history.back()">Back</button>

                                </div>



                            </div>
                        </form>

                    </div>
                </div>
                <!-- Admit Form Area End Here -->

<footer class="footer-wrap-layout1">
    <div class="copyright">
       Copyrights  ©  <a href="#">SBSY</a> 2020. All rights reserved.
    </div>
</footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>





       <script src="{% static 'SchoolDesign/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/plugins.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/popper.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/select2.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/datepicker.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'SchoolDesign/js/main.js' %}"></script>

  <script>
    $("#ddlmedium").change(function () {
      var url = $("#ddlmedium").attr("data-url");  // get the url of the `load_courses` view
      var X = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'medium_name': X      // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#ddlclass").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>

  <script>
    $("#ddlclass").change(function () {
      var url = $("#ddlclass").attr("data-url1");  // get the url of the `load_courses` view
      var X = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'class_name': X      // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#ddlsection").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>

</body>

</html>